<?xml version='1.0' encoding='utf-8' ?>
<widget id="com.sofiapps.personality" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Personality Tests</name>
    <description>
        Personality test application
    </description>
    <author email="natasha.kuzmanoska@gmail.com" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <preference name="DisallowOverscroll" value="true" />
    <preference name="Orientation" value="landscape" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarBackgroundColor" value="#000000" />
    <preference name="StatusBarStyle" value="lightcontent" />
    <content src="index.html" />
    <access origin="*" />
</widget>
