* {
    /* font-family: "adobe-clean", "HelveticaNeue-Light", Helvetica, Arial, sans-serif;*/
    /* font-family: "FreightText BookItalic",serif;*/
    font-family: "Avenir LT W01 45 Book", sans-serif;
    font-size: 16px;
    line-height: 18px;
}

div,
body,
p {
    padding: 0px;
    margin: 0px;
}

body {
    height: 100%;
    width: 100%;
    background-color: white;
    font-size: 1.05em;
    font-weight: 300;
    letter-spacing: 1px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.nav {
    background-color: #b3739c;
    color: white;
    height: 40px;
    width: 100%;
    border-bottom: 1px solid #8b5549;
    box-shadow: 0px 1px 3px 0px #8b5549;
}

.topNav {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
}

.topNav .button {
    position: absolute;
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
    background-position: center center;
}

.topNav .home {
    top: 0px;
    left: 0px;
    background-image: url(home-128.png);
    background-size: 20px;
}

.topNav .menu {
    top: 0px;
    right: 0px;
    background-image: url(menu-128.png);
    background-size: 18px;
}

.footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    box-shadow: 0px -1px 3px 0px #8b5549;
}

.nextQuestion {
    position: absolute;
    height: 40px;
    padding-right: 20px;
    padding-top: 10px;
    right: 0px;
    font-weight: bold;
    top: 0px;
}

.pageContainer {
    position: fixed;
    overflow-y: scroll;
    width: 100%;
    padding: 20px;
    top: 40px;
    bottom: 40px;
}

.topNav .title {
    margin: 10px 60px 10px 60px;
    text-align: center;
    overflow-x: hidden;
    overflow-y: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
    font-size: 16px;
    height: 20px;
}

.question {
    list-style: none;
    padding-left: 0px;
    list-style-position: outside;
}

.question li {
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 40px;
    background-repeat: no-repeat;
    background-position: left center;
}

.question .selected {
    background-image: url(circle-selected.png);
    /*color: #7d9c57;*/
}

.question .unselected {
    background-image: url(circle.png);
}

.pageHeader {
    /*font-family: "FreightText BookItalic",serif;*/
    
    font-weight: normal;
    font-style: normal;
    letter-spacing: 1px;
    font-size: 16px;
    line-height: 18px;
    color: #4b433d;
}

.titleFont {
    font-family: "FreightText BookItalic", serif;
    font-weight: normal;
    font-style: normal;
    letter-spacing: 1px;
    font-size: 24px;
    line-height: 31px;
}