.page {
    vertical-align: middle;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 3px  solid blue;
}
.page.left {
    transform: translate3d(-100%, 0, 0);
  }
.page.center {
    transform: translate3d(0, 0, 0);
  }
.page.right {
    transform: translate3d(100%, 0, 0);
}
.page.transition {
    transition-duration: .5s;
}


.options{
    list-style: none;
}